@reference "../../../../../../packages/assets/theme/global.css";
.loginBox {
  @apply flex justify-between flex-col lg:flex-row;
  .loginForm {
    @apply flex flex-1 justify-center flex-col lg:flex-col gap-[3.125rem] box-border p-[6%];
    .welcome {
      @apply flex items-center justify-center gap-6;
      .text {
        @apply text-4xl;
      }
    }
    .icon {
      width: 14.69rem;
      margin-bottom: 3rem;
    }
    .pwd {
      width: 1.08rem;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 0.77rem;
      min-width: 60%;
      @include medias(($s, $m)) {
        width: 100%;
      }
    }
    .submitBtn {
      width: 100%;
      height: 3.08rem;
    }
    .help {
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .welcomeBanner {
    .loginBG {
      min-width: 50vw;
      min-height: 50vh;
      height: 100vh;
      width: auto;
      @include medias(($s, $m)) {
        width: 100vw;
        height: auto;
      }
    }
  }
}
