.loginBox {
  display: flex;
  justify-content: space-between;
  @include medias(($s, $m)) {
    flex-direction: column;
  }
  .loginForm {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3.08rem;
    align-items: center;
    box-sizing: border-box;
    padding: 6%;
    .welcome {
      display: flex;
      align-items: center;
      gap: 1.54rem;
      .text {
        font-size: 2.31rem;
        font-family: $en-font-1, $zh-font-1;
        color: $blue6;
      }
    }
    .icon {
      width: 14.69rem;
      margin-bottom: 3rem;
    }
    .pwd {
      width: 1.08rem;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 0.77rem;
      min-width: 60%;
      @include medias(($s, $m)) {
        width: 100%;
      }
    }
    .submitBtn {
      width: 100%;
      height: 3.08rem;
    }
    .help {
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .welcomeBanner {
    .loginBG {
      min-width: 50vw;
      min-height: 50vh;
      height: 100vh;
      width: auto;
      @include medias(($s, $m)) {
        width: 100vw;
        height: auto;
      }
    }
  }
}
