@reference "../../assets/theme/global.css";
.label {
  @apply text-[1rem] mb-[.625rem] font-normal;
}

.baseFormContainer {
  @apply w-full lg:max-w-[40vw]  mb-[1.5rem];
}

.errorMessage {
  @apply text-[.75rem] text-error mt-[.5rem];
}
