@reference "../../assets/theme/global.css";

.sideShow {
  @apply overflow-hidden max-h-120;
  .container {
    display: flex;
    .imgBox {
      flex: 0 0 100%;
      min-width: 0;
      .sideImg {
        object-fit: cover;
      }
    }
  }
}
