.trip {
  display: flex;
  flex-direction: column;
  gap: 3.08rem;
  margin-top: 3.08rem;
  padding: 0 6.15rem;
  @include medias(($s, $m)) {
    padding: 0.46rem;
  }
  .inputGroup {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    gap: 10vw;
    @include medias(($s, $m)) {
      flex-direction: column;
      gap: 0;
      width: 100%;
    }
  }
  .baseForm {
    width: 50vw;
    @include medias(($s, $m)) {
      width: 100%;
    }
  }
  .phoneNumber {
    min-width: 20vw;
    margin-bottom: 1.54rem;
  }

  .baseButton {
    @include medias(($l, $xl)) {
      width: fit-content;
    }
  }
  .record {
  }
  .buttons {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    @include medias(($s, $m)) {
      flex-direction: column;
    }
  }
  .caption {
    font-size: 1.54rem;
    font-weight: 600;
  }
  :global(.Mui-error) {
    margin-left: 0;
  }
}
